body {
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: monospace;
}
    .superior {
        background-color: #39bbf8;
        margin-bottom: 15px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0
    }
    /* corrigir local depois */
    .header {
        background-color: #39bbf8;
        color: #fff;
        padding: 10px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .form-container {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
    
    .form-container h2 {
        margin-top: 0;
    }
    
    .form-container input {
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .form-container button {
        padding: 10px;
        width: 100%;
        background-color: #39bbf8;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .form-container button:hover {
        background-color: #39bbf8;
    }
    
    .message {
        margin-top: 10px;
        color: red;
    }
h1{
    display: flex;
    flex-direction: row;
    justify-content: center
}
p{
    font-family: Arial;
    font-size:medium;
}
.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    margin: auto;
    height: 75px;
    width: 75px;
    font-family: monospace;
    font-size: x-large;

}
.logo {
    height: 70px;
    width: 70px;
}
.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
}
h3{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    padding: 5px 10px;
}
.githublogo {
    height: 168px;
    width: 300px;
    filter: invert();
}
a {
    text-decoration: none;
    color:  #39bbf8;
    font-weight: bold;
    padding: 5px 10px;
}
picture {
    display: flex;
    justify-content: center;
}
.tutorial1{
    width: 499px; 
    height: 178px;
}
.tutorial2{
    width:453.5px;
    height:305px;
} 
.tutorial3{
    width:659px; 
    height: 317.5px;
}
.tutorial4{
    width:639.5px;
    height:239.5px;
}
.tutorial5{
    width:465.5px;
    height:248px;
}
.tutorial6{
    width:921px;
    height:173px;
}
.tutorial8{
    width:650px;
    height:50px;
}
